<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>Title</title>
    <script src="/static/js/goods.js"></script>
  <div th:insert="~{common/common::commonHeader}"></div>
</head>

<body>
<div id="search">
  <div class="container" style="margin-top: 50px;margin-left: 300px">
    <div class="col-lg-6">
      <div class="input-group">
        <form action="/getGoodsLikeByGoodsDescribe1?pageNum=1" method="post" class="input-group" id="searchForm">
          <!--this.value=this.value.replace(/\s+/g,'')-->
          <input type="text" class="form-control" id="goodsName" onkeyup="search(this.value=this.value.replace(/\s+/g,''))" name="goodsDescribe1">
          <span class="input-group-btn">
						<button class="btn btn-warning" type="button" onclick="isEmp()">
							Go!<i class="bi bi-arrow-right-square-fill"></i>
						</button>
					</span>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>