<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>商品列表</title>
    <div th:insert="common/common::commonHeader"></div>
</head>
<link rel="stylesheet" href="/static/css/goods.css">
<link rel="stylesheet" href="/static/css/search.css">
<script src="/static/js/goods.js"></script>

<body style="background-color: rgba(255,192,203,0.49)">
<div th:replace="~{common/common::#commonNav(active='sp')}"></div>
<!--=====================================================-->
<div th:insert="~{common/search::#search}"></div>
<div id="lx" class="lx" style="width: 515px; border-radius: 20px;border: red 1px solid;margin-left: 300px;margin-top: 0;display: none;position: absolute; z-index: 10" >

</div>
<!--=======================================================-->
<div class="ancester" style="margin-top: 50px;border-radius: 20px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:rgba(255,192,203,0.49) ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="border-radius: 30px;background-color: #A0B2D4">
            <a class="navbar-brand disabled" style="font-family: LiSu;color: white">分类：</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" th:each="goodsTypes : ${goodsTypes}">
                    <a class="nav-link" style="color: white" th:href="@{/type(typeId=${goodsTypes.getTypeId()})}" th:text="${goodsTypes.getTypeName()}"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="product_area" style="background-color: white">
        <div class="product" th:each="allGood : ${page.list}" style="background-color: rgba(222,189,199,0.76);border-radius: 10px">
            <img th:src="${allGood.getGoodsPhoto1()}">
            <div class="product_price">价格：<em th:text="${allGood.getGoodsPrice()}">ytt</em>&nbsp;￥</div>
            <div class="product_des" th:text="${allGood.getGoodsDescribe1()}" style="color: white">嘟嘟猫咪玩偶埃斯蒂生活家居毛毛玩具娃娃</div>
            <div class="product_shop" style="color: white">销量：<em th:text="${allGood.getSalesVolume()}"></em>+</div>
            <form action="/goods" method="post">
                <input type="hidden" th:value="${allGood.getShopId()}" name="shopId">
                <input type="hidden" th:value="${allGood.getGoodsName()}" name="getGoodsName">
                <button type="submit" class="btn btn-warning">了解详情<i class="bi bi-bag-heart"></i></button>
            </form>

        </div>
    </div>

</div>
<!--=====================================页码=================================================-->
<div style="text-align: center;">
    <a th:if="${page.hasPreviousPage}" th:href="@{/getAllGoods?pageNum=1}">首页</a>
    <a th:if="${page.hasPreviousPage}" th:href="@{'/getAllGoods?pageNum='+${page.prePage}}">上一页</a>
    <span th:each="num : ${page.navigatepageNums}">
        <!--如果当前访问的页码和下面的数字对应，就改变对应数字的样式-->
    <a th:if="${page.pageNum == num}" style="color: rgba(206,145,193,0.7)" th:href="@{'/getAllGoods?pageNum='+${num}}" th:text="'['+${num}+']'"></a>
    <a th:if="${page.pageNum != num}" th:href="@{'/getAllGoods?pageNum='+${num}}" th:text="${num}"></a>
    </span>
    <a th:if="${page.hasNextPage}" th:href="@{'/getAllGoods?pageNum='+${page.nextPage}}">下一页</a>
    <a th:if="${page.hasNextPage}" th:href="@{'/getAllGoods?pageNum='+${page.pages}}">尾页</a>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2010–2021 前沿科技Artech All rights reserved</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="javascript:void(0);">关于我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">联系我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">隐私协议</a></li>
    </ul>
</footer>
</body>
</html>