<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="/static/js/goodsParticular.js"></script>

    <div th:replace="~{common/common::commonHeader}"></div>
</head>
<body>
<div th:replace="~{common/common::#commonNav}" class="col-12"></div>

<!--侧边的悬浮窗制作-->
<link rel="stylesheet" href="/static/css/ce.css">
<div class="go-top">
    <a th:href="@{/goCart}" class="btn btn-outline-dark"><i class="bi bi-cart3"></i>我的购物车</a>
</div>
<!--=============================-->

<div class="col-12">
    <table>
        <tr th:each="goodsAndGoodsSize : ${goodsAndGoodsSize}">
            <td>
                <div class="container">
                    <div class="bg-gray" style="background: white">
                        <div class="container px-4 py-5">
                            <div class="row align-items-lg-center g-5">
                                <div class="col-12 col-lg-6">
                                    <!--          img-lab@2x.png-->
                                    <img th:src="${goodsAndGoodsSize.getGoodsPhoto1()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 500px" width="500px">
                                </div>
                                <div class="col-12 col-lg-6">
<!--                                    <h1 class="display-6 fw-bold mb-3" th:text="${goodsAndGoodsSize.getGoodsName()}"></h1>
                                    <p class="lead" th:text="${goodsAndGoodsSize.getGoodsDescribe2()}"></p>-->
                                    <div class="d-grid d-md-flex justify-content-md-start">
                                        <form action="/goods" method="post">
                                            <div class="goods_detail_list fr">
                                                <h3 th:text="${goodsAndGoodsSize.getGoodsDescribe1()}">大兴大棚草莓</h3>
                                                <p th:text="${goodsAndGoodsSize.getGoodsDescribe2()}">草莓浆果柔软多汁，味美爽口，适合速冻保险贮藏，草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
                                                <div class="prize_bar">
                                                    <div class="show_prize fl">￥<em th:text="${goodsAndGoodsSize.getGoodsPrice()}" id="dj">16.80</em></div>
                                                    <div class="show_unit fl">库存：<em th:text="${goodsAndGoodsSize.getGoodsSize().getGoodsS()}" id="kc">16.80</em></div>
                                                </div>

                                                <div class="goods_num clearfix">
                                                    <div class="num_name fl">尺寸:</div>
                                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-top: 10px">
                                                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="S()">
                                                            <label class="btn btn-outline-primary" for="btnradio1">S</label>

                                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="M()">
                                                            <label class="btn btn-outline-primary" for="btnradio2">M</label>

                                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="X()">
                                                            <label class="btn btn-outline-primary" for="btnradio3">X</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="goods_num clearfix">
                                                    <div class="num_name fl">数量：</div>
                                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-top: 10px">
                                                        <button type="button" class="btn btn-danger" id="bt1" onclick="bt11()">-</button>
                                                        <button type="button" class="btn btn-light disabled" id="bt3" value="1">1</button>
                                                        <button type="button" class="btn btn-success" id="bt2" onclick="btn22()">+</button>
                                                    </div>
                                                </div>
                                                <div class="total">来自商店:<span th:text="${shopName}"></span></div>
                                                <div class="total">总价:<span id="zj" style="color: red ;margin-left: 5px" th:text="${goodsAndGoodsSize.getGoodsPrice()}"></span></div>

                                                <div class="operate_btn" id="div1">
                                                    <button type="button"  class="buy_btn">立即购买</button>
                                                    <button type="button" class="add_cart" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="cart()">加入购物车</button>
                                                </div>

<!--                                                <button class="btn btn-primary" disabled >
                                                    <span class="spinner-grow spinner-grow-sm"></span>
                                                    Loading..
                                                </button>-->
                                                <!--加载动画-->
                                                <div class="container mt-3" id="loading">
                                                    <div class="spinner-border text-muted"></div>
                                                    <div class="spinner-border text-primary"></div>
                                                    <div class="spinner-border text-success"></div>
                                                    <div class="spinner-border text-info"></div>
                                                    <div class="spinner-border text-warning"></div>
                                                    <div class="spinner-border text-danger"></div>
                                                    <div class="spinner-border text-secondary"></div>
                                                    <div class="spinner-border text-dark"></div>
                                                    <div class="spinner-border text-light"></div>
                                                </div>

                                                <div class="d-grid gap-2">
                                                <div class="btn btn-outline-warning" id="div2" >
                                                    该商品暂时无货
                                                </div>
                                                </div>

                                            </div>
                                            <input type="hidden" th:value="${goodsAndGoodsSize.getGoodsName()}" id="goodsId" name="id">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--弹出确认框-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">确认加入购物车</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/addCart">
                    <span>商品的名称：<em class="fw-light" th:text="${goodsAndGoodsSize.getGoodsDescribe1()}"></em></span>

                    <input type="hidden" th:value="${goodsAndGoodsSize.getGoodsDescribe1()}" name="goodsDescribe1">
                    <input type="hidden" th:value="${goodsAndGoodsSize.getGoodsPhoto1()}" name="goodsPhoto1">
                    <input type="hidden" id="se" name="goodsSize">
                    <input type="hidden" name="goodsCount" id="con">
                    <input type="hidden" th:value="${goodsAndGoodsSize.getGoodsId()}" name="goodsId">
                    <input type="hidden" th:value="${goodsAndGoodsSize.getGoodsName()}" name="goodsName">
<!--                    <input type="hidden" th:value="${goodsAndGoodsSize.getShopId()}" name="shopId">-->
                    <input type="hidden" th:value="${shopId}" name="shopId">
                    <input type="hidden" value="0" name="userId">
                    <span>数量：<em class="fw-light" id="count" ></em></span><br>
                    <span>尺寸：<em class="fw-light" id="size"></em></span><br>
                    <span>总价：<em class="fw-light" id="countYuan" ></em><span>￥</span></span><br>
                    <input type="hidden" id="total" name="totalPrice">
                    <div class="modal-footer">
                        <span><em id="error" style="color: red"></em></span>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                        <input type="submit" value="确认" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>
<!--介绍-->

<div class="bg-gray" style="background: white">
    <div class="container px-4 py-5">
        <div class="row align-items-lg-center g-5">
            <div class="col-12 col-lg-6">
                <!--          img-lab@2x.png-->
                <img th:src="${goodsAndGoodsSize.getGoodsPhoto2()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 500px" width="500px">
            </div>
            <div class="col-12 col-lg-6">
                <!--<h1 class="display-6 fw-bold mb-3" th:text="${goodsAndGoodsSize.getGoodsDescribe3()}">泰迪熊公仔</h1>-->
                <p class="lead" th:text="${goodsAndGoodsSize.getGoodsDescribe3()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray" style="background: white">
    <div class="container px-4 py-5">
        <div class="row align-items-lg-center g-5">
            <div class="col-12 col-lg-6">
                <!--          img-lab@2x.png-->
                <img th:src="${goodsAndGoodsSize.getGoodsPhoto3()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 500px" width="500px">
            </div>
            <div class="col-12 col-lg-6">
<!--                <h1 class="display-6 fw-bold mb-3" th:text="${goodsAndGoodsSize.getGoodsDescribe3()}">泰迪熊公仔</h1>-->
                <p class="lead" th:text="${goodsAndGoodsSize.getGoodsDescribe4()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray" style="background: white">
    <div class="container px-4 py-5">
        <div class="row align-items-lg-center g-5">
            <div class="col-12 col-lg-6">
                <!--          img-lab@2x.png-->
                <img th:src="${goodsAndGoodsSize.getGoodsPhoto4()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 500px" width="500px">
            </div>
            <div class="col-12 col-lg-6">
                <h1 class="display-6 fw-bold mb-3" th:text="${goodsAndGoodsSize.getGoodsDescribe3()}">泰迪熊公仔</h1>
                <p class="lead" th:text="${goodsAndGoodsSize.getGoodsDescribe4()}"></p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray" style="background: white">
    <div class="container px-4 py-5">
        <div class="row align-items-lg-center g-5">
            <div class="col-12 col-lg-6">
                <!--          img-lab@2x.png-->
                <img th:src="${goodsAndGoodsSize.getGoodsPhoto5()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 500px" width="500px">
            </div>
            <div class="col-12 col-lg-6">
                <h1 class="display-6 fw-bold mb-3" th:text="${goodsAndGoodsSize.getGoodsDescribe3()}">泰迪熊公仔</h1>
                <p class="lead" th:text="${goodsAndGoodsSize.getGoodsDescribe4()}"></p>
            </div>
        </div>
    </div>
</div>

<!--==================================================================================-->
<div class="container px-4">
    <h2 class="pb-2 border-bottom">本站店热销</h2>
    <div class="row g-5 py-5">
        <!--============================================================-->
        <div class="col-md-3 d-flex flex-md-column" th:each="goods : ${goods} ">
            <div class="feature-icon  bg-gradient flex-shrink-0 me-3">
                <img th:src="${goods.getGoodsPhoto1()}" class="img-fluid w-md-50 w-lg-100 d-md-block mx-md-auto" style="height: 200px;width: 200px;">
            </div>
            <div>
                <em th:text="${goods.getGoodsDescribe1()}"></em>
                价格：<p th:text="${goods.getGoodsPrice()}"></p>
                销量：<p th:text="${goods.getSalesVolume()}"></p>
                <form action="/goods" method="post">
                    <input type="hidden" th:value="${userId}" name="userId" id="userId">
                    <input type="hidden" th:value="${goods.getGoodsName()}" name="getGoodsName">
                    <input type="hidden" th:value="${goods.getShopId()}" name="shopId">
                    <button type="submit" class="btn btn-warning" >购买<i class="bi bi-bag-heart"></i></button>
                </form>
            </div>
        </div>

    </div>
</div>



</body>
</html>