<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>商品列表</title>
</head>
<link rel="stylesheet" href="/static/css/goods.css">
<link rel="stylesheet" href="/static/css/search.css">
<script src="/static/js/goods.js"></script>
<script src="/static/js/goodsType.js"></script>

<body>
<!--=======================================================-->
<div class="ancester" style="margin-top: 50px;border-radius: 20px">
    <div th:insert="~{common/commonHead::#headerCommon(active='sp')}"></div>
    <div th:insert="~{common/commonHead::#navCommon(active='sp')}"></div>
    <div th:insert="~{goods/Goods::#searchCommon}"></div>
    <!--分类-->
    <div id="type">
    <nav style="background-color: rgba(255,192,203,0.69)" class="navbar navbar-area navbar-expand-lg has-topbar nav-style-01 index-01" id="nv1">
        <div class="container nav-container custom-header-container">
            <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                <ul class="navbar-nav color-black">
                    <li>
                        <a  th:href="@{/getAllGoods?pageNum=1}" th:class="${active=='all'?'text-primary':''}">全部</a>
                    </li>
                    <li th:each="goodsTypes,stuta :${goodsTypes}" >
                        <a th:href="@{/type(typeId=${goodsTypes.getTypeId()})}" th:id="${stuta.count}" th:text="${goodsTypes.getTypeName()}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>
<!--/////////////////////////////////////////////////-->
<div class="author-aritcle-area-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrapper-index-02">
                    <h2 class="section-title" th:text="${type2}" id="t2">author posts</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--///////////////////////////////////////////////////////////////////-->
            <div class="col-md-6 col-lg-4" th:each="allGood:${type}">
                <div class="single-blog-list-nature">
                    <div class="img-box">
                        <img th:src="${allGood.getGoodsPhoto1()}" alt="image" >
                    </div>
                    <div class="content">
                        <h3 class="title">
                            <a href="#" th:text="${allGood.getGoodsDescribe1()}">In every walk in with nature one receives far more than he seeks.</a>
                        </h3>
                        <div class="post-meta">
                            <ul class="list" id="ul1">
                                <li class="list-item">
                                    <a href="#">
                                        <i class="las la-tag icon"></i>
                                        <span class="text" th:text="${allGood.getGoodsPrice()}"></span>￥
                                    </a>
                                </li>
                                <li class="list-item">
                                    <a th:href="@{/goods(getGoodsName=${allGood.getGoodsName()},shopId=${allGood.getShopId()})}">
                                        <i class="lar la-comment icon"></i>
                                        <span class="text">购买</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--////////////////////////-->

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2010–2021 前沿科技Artech All rights reserved</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="javascript:void(0);">关于我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">联系我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">隐私协议</a></li>
    </ul>
</footer>
</body>
</html>