<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <div th:insert="~{common/common::commonHeader}"></div>
    <script src="/static/js/UpdateGoods.js"></script>
    <title>修改商品页面</title>
</head>
<div th:insert="~{common/common::#commonNav}"></div>
<body>
<div th:insert="~{common/commonHead::#headerCommon}"></div>

<form action="/upGoods" method="post" enctype="application/x-www-form-urlencoded" class="row g-3" name="myForm" id="myForm1" th:each="goods : ${goods}">
<!--    <input type="hidden" th:value="${shopId}" name="shopId">-->
    <!--时间戳-->
    <input type="hidden" name="userId" th:value="${userId}">
    <input type="hidden" th:value="${goodsId}" name="goodsId">
    <input type="hidden" th:value="${goods.getGoodsName()}" name="goodsName" class="form-control " >
<!--    <input type="hidden" th:value="${goods.getGoodsName()}" id="hiName">-->
<!--    <input type="hidden" name="goodsName" class="form-control " onblur="goodsname()" onfocus="goodsname2()" placeholder="可以是字母,数字,_,汉字" th:value="${goodsName}" onkeyup="this.value=this.value.replace(/\s+/g,'')">-->
    <!--============================================-->
    <div class="preloader-inner">
        <ul class="preloader-main">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="contact-us-area-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="address-wrapper" >
                        <img th:src="${goods.getGoodsPhoto1()}" id="tp1">
                        <input type="file" class="form-control " onchange="tu1()" id="gh1">
                        <input type="hidden" name="goodsPhoto1" id="gh11">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="get-in-touch-wrapper">
                        <h3 class="title"> </h3>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <input type="number" th:value="${goods.getGoodsPrice()}" name="goodsPrice" class="form-control" id="exampleInputPasswor" placeholder="价格￥  示例：99.99" onblur="gp()" onfocus="gp2()" >
                                    <span style="color: red;margin-left: 10px" id="em2"></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea th:text="${goods.getGoodsDescribe1()}" placeholder="商品名称(用户搜索时通过这个内容进行匹配【限制1~25】)" name="goodsDescribe1" onblur="d1()" id="gd1" maxlength="25" onkeyup="this.value=this.value.replace(/\s+/g,'')" onfocus="d11()"></textarea>
                                    <span id="gd11" style="color: red" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=====================================-->
                <hr>
                <div class="col-lg-6">
                    <div class="get-in-touch-wrapper">

                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <textarea th:text="${goods.getGoodsDescribe2()}" placeholder="商品的描述【至少20字】" name="goodsDescribe2" id="gd2" onfocus="d22()" onblur="d2()" minlength="20" onkeyup="this.value=this.value.replace(/\s+/g,'')"></textarea>
                                    <!--                                            <input type="email" class="form-control" id="exampleInputPasswor" placeholder="Your Email" required="">-->
                                    <span id="gd22" style="color: red" ></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea th:text="${goods.getGoodsDescribe3()}"  placeholder="商品的描述【至少20字】" name="goodsDescribe3" id="gd3" onblur="d3()" onfocus="d33()"  minlength="20" onkeyup="this.value=this.value.replace(/\s+/g,'')"></textarea>
                                    <span id="gd33" style="color: red" ></span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="btn-wrapper">
                            <button type="submit" class="btn-default">Send Message</button>
                        </div> -->

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="address-wrapper">
                        <img th:src="${goods.getGoodsPhoto2()}" id="tp2">
                        <input type="file" class="form-control " id="gh2" onchange="tu2()">
                        <input type="hidden" name="goodsPhoto2" id="gh22">
                    </div>
                </div>
                <hr>
                <!--========================================-->
                <div class="col-lg-6">
                    <div class="address-wrapper">
                        <img th:src="${goods.getGoodsPhoto3()}" id="tp3">
                        <input type="file" class="form-control " id="gh3" onchange="tu3()">
                        <input type="hidden" name="goodsPhoto3" id="gh33">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="get-in-touch-wrapper">


                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <textarea th:text="${goods.getGoodsDescribe4()}" placeholder="商品的描述【至少20字】" name="goodsDescribe4" id="gd4" onfocus="d44()" onblur="d4()"  minlength="20" onkeyup="this.value=this.value.replace(/\s+/g,'')"></textarea>
                                    <span id="gd44" style="color: red" ></span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea th:text="${goods.getGoodsDescribe5()}" placeholder="商品的描述【至少20字】" name="goodsDescribe5" id="gd5" onblur="d5()" onfocus="d55()"  minlength="20" onkeyup="this.value=this.value.replace(/\s+/g,'')"></textarea>
                                    <span id="gd55" style="color: red" ></span>
                                </div>
                            </div>
                        </div>
                        <!--                                <input type="file" class="form-control " id="gh4">-->
                        <input type="hidden" name="goodsPhoto4"  value="弃用">
                        <!--                                <input type="file" class="form-control "  id="gh5">-->
                        <input type="hidden" name="goodsPhoto5" value="弃用">

                    </div>
                </div>
                <!--========================================-->
                <hr>
                <div class="col-lg-6">
                    <div class="address-wrapper">
                        商品的类型:<select name="typeId" class="form-control form-control-lg">
                        <option  th:each="type : ${type}" th:value="${type.getTypeId()}" th:text="${type.getTypeName()}"></option>
                    </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="get-in-touch-wrapper">


                        <div class="row">
                            <div class="col-12 col-md-12">
                                S码的库存:<input th:value="${S}" type="number" name="goodsS" id="goodsS" class="form-control"  oninput="this.value = this.value.replace(/[^0-9]/g, '');" >
                                M码的库存：<input th:value="${M}" type="number" name="goodsM" id="goodsM" class="form-control"  oninput="this.value = this.value.replace(/[^0-9]/g, '');" >
                                X码的库存：<input th:value="${S}" type="number" name="goodsX" id="goodsX" class="form-control"  oninput="this.value = this.value.replace(/[^0-9]/g, '');" >
                                <input type="hidden" th:value="${sizeId}" name="goodsSizeId">
                                <input type="hidden" th:value="${userId}" name="userId">
                                <input type="hidden" th:value="${goods.getShopId()}" name="shopId">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">

                            </div>
                        </div>
                        <input type="hidden" name="goodsPhoto4"  value="弃用">
                        <input type="hidden" name="goodsPhoto5" value="弃用">
                    </div>
                </div>
                <!--=======================================-->
            </div>
        </div>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-outline-success" id="btu" onclick="sub()">提交</button>
        </div>
    </div>
</form>
</body>
<style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
</html>