<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>不偷看密码的超萌猫头鹰</title>
    <link rel="stylesheet" href="/static/css/50.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#password').focus(function(){
                // 密码框获得焦点，追加样式.password
                $('#owl').addClass('password');
            }).blur(function(){
                // 密码框失去焦点，移除样式.password
                $('#owl').removeClass('password');
            })
        })
    </script>
</head>

<body>
    <div class="login-box">
        <div class="owl" id="owl">
            <div class="hand"></div>
            <div class="hand hand-r"></div>
            <div class="arms">
                <div class="arm"></div>
                <div class="arm arm-r"></div>
            </div>
        </div>
        <div class="input-box">
            <form action="/login" method="post">
            <input type="text" placeholder="账号" name="username" style="width: 300px"><br>
            <input type="password" placeholder="密码" id="password" name="password" style="width: 300px"><br>
            <input type="submit" value="登录" style="background-color: cadetblue ;width: 300px" >
            </form>
            <a th:href="@{/register}" style="margin-left: 200px;font-size: 10px">还没有账号,去注册！</a>
            <br>
            <br>
            <span th:text="${msg}" style="margin-left: 120px;font-family:KaiTi"></span>
        </div>
    </div>
</body>

</html>