<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>我的购物车</title>
</head>
<script src="/static/js/cart.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="/static/css/alert.css">
<div th:insert="~{common/common::commonHeader}"></div>
<div th:insert="~{common/common::#commonNav(active='cart')}"></div>
<body>
<!--<div th:insert="common/commonHead::#headerCommon"></div>
<div th:insert="common/commonHead::#navCommon"></div>-->
<table class="table table-hover container" id="table">
    <tr style="background-color: #a7a7a7;">
        <th scope="col" class="text-center">选择</th>
        <th scope="col" class="text-center">序号</th>
        <th scope="col" class="text-center">图片</th>
        <th scope="col" class="text-center">名称</th>
        <th scope="col" class="text-center">名称</th>
        <th scope="col" class="text-center">数量</th>
        <th scope="col" class="text-center">总价</th>
        <th scope="col" class="text-center">操作</th>
    </tr>
  <tr th:each="carts,staut : ${Carts}" >
      <th class="text-center">
      <div class="form-check">
          <input class="form-check-input" type="checkbox" th:value="${carts.getCartId()}" th:id="${staut.count}" onclick="addMiddle(this.value)">
          <label class="form-check-label" th:for="${staut.count}">
          </label>
      </div>
      </th>
      <th th:text="${staut.count}" class="text-center"></th>
      <th class="text-center">
          <img th:src="${carts.getGoodsPhoto1()}" style="height: 50px;width: 50px;">
      </th>
      <th th:text="${carts.getGoodsDescribe1()}" class="text-center"></th>
      <th th:text="${carts.getGoodsSize()}" class="text-center"></th>
      <th th:text="${carts.getGoodsCount()}" class="text-center"></th>
      <th th:text="${carts.getTotalPrice()}" class="text-center"></th>
      <th class="text-center">
      <button th:value="${carts.getCartId()}" id="cartId" class="btn btn-outline-danger btn-sm" onclick="confirm(this.value)"><i class="bi bi-file-earmark-x" ></i>删除</button>
      </th>
  </tr>
</table>
<input type="hidden" th:value="${userId}" id="userId">
<a type="button" onclick="delAll()" class="text-danger"><i class="bi bi-exclamation-circle" style="margin-left: 1100px"></i> 清空购物车</a>
<div class="d-grid gap-2 col-6 mx-auto">
    <!--th:href="@{/checkout}"-->
    <form action="/checkout" method="post" id="middleForm" >
    </form>
    <a onclick="hhh()" id="js" class="btn btn-outline-danger">结算</a>
</div>

<!--<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2008–2023 前沿科技Artech All rights reserved</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="javascript:void(0);">关于我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">联系我们</a></li>
        <li class="list-inline-item"><a href="javascript:void(0);">隐私协议</a></li>
    </ul>
</footer>-->

</body>
</html>