<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--设置网页的图标-->
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>Title</title>
</head>
<script src="/static/js/cart.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="/static/css/alert.css">
<div th:insert="~{common/common::commonHeader}"></div>
<div th:insert="~{common/common::#commonNav}"></div>
<body>

<table class="table table-hover container">
    <tr style="background-color: #a7a7a7;">
        <th scope="col" class="text-center">选择</th>
        <th scope="col" class="text-center">序号</th>
        <th scope="col" class="text-center">图片</th>
        <th scope="col" class="text-center">名称</th>
        <th scope="col" class="text-center">尺寸</th>
        <th scope="col" class="text-center">数量</th>
        <th scope="col" class="text-center">总价</th>
        <th scope="col" class="text-center">操作</th>
    </tr>
  <tr th:each="carts,staut : ${Carts}">
      <th class="text-center">
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
      </div>
      </th>
      <th th:text="${staut.count}" class="text-center"></th>
      <th class="text-center">
          <img th:src="${carts.getGoodsPhoto1()}" style="height: 50px;width: 50px;">
      </th>
      <th th:text="${carts.getGoodsDescribe1()}" class="text-center"></th>
      <th th:text="${carts.getGoodsSize()}" class="text-center"></th>
      <th th:text="${carts.getGoodsCount()}" class="text-center"></th>
      <th th:text="${carts.getTotalPrice()}" class="text-center"></th>
      <th class="text-center">
      <button th:value="${carts.getCartId()}" id="cartId" class="btn btn-outline-danger btn-sm" onclick="confirm(this.value)"><i class="bi bi-file-earmark-x" ></i>删除</button>
      </th>
  </tr>
</table>
<input type="hidden" th:value="${userId}" id="userId">
<a type="button" onclick="delAll()" class="text-danger"><i class="bi bi-exclamation-circle" style="margin-left: 1400px"></i> 清空购物车</a>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-danger" type="button">结算</button>
</div>
</body>
</html>