.lx{
    background-color: rgba(210, 192, 255, 0.67);
}
.lx p{
    padding-left: 10px;
    margin-top: 10px;
    color: black;
}
.lx p:hover{
    cursor: pointer;
    border: 1px solid palevioletred;
    border-radius: 20px;
    background-color: lightpink;
}
