<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon"/>
<head>

<title>首页</title>
</head>
<div th:insert="~{common/commonHead::#headerCommon}"></div>
<body>
<!--加载条-->
<div class="preloader-inner">
	<ul class="preloader-main">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div th:insert="~{common/commonHead::#navCommon(active='index')}"></div>
<!-- header area start -->
<div class="header-area-wrapper">
	<div class="header-area index-03">
		<div class="bg" style="background-image:url(/static/img/img.jpg)">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-10 col-xl-8 h-100">
						<div class="content">
							<span class="first-word space-style">华特·迪士尼</span>
							<h1 class="header-title">如果我们有勇气去追求，我们所有的梦想都可以成为现实</h1>
							<div class="btn-wrapper">
								<a  class="btn-default v-3" th:href="@{/goods(getGoodsName=1670397018165,shopId=23)}" >了解更多</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header area end -->

<!-- highlight area start -->
<div class="highlight-area-wrapper wow slideInRight" data-wow-duration="1.8s">
	<div class="container custom-container-1800">
		<div class="row">
			<div class="col-lg-12">
				<div class="space-box"></div>
				<div class="highlight-area-inner" >
					<!--===================================-->
					<div class="single-highlight-item" th:each="goodsTypes,staut:${goodsTypes}">
						<div class="img-box">
							<img th:src="${goodsTypes.getTypePhoto()}" alt="image" style="height: 150px;width: 150px;">
						</div>
						<div class="content">
							<h6 class="title">
								<a th:href="@{/type(typeId=${goodsTypes.getTypeId()})}" th:text="${goodsTypes.getTypeName()}"></a>
							</h6>
						</div>
					</div>
					<!--===================================================-->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- highlight area end -->

<!-- blog post area start -->
<div class="blog-list-area-wrapper index-02">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="single-blog-list-wrapper-index-02 wow bounceInUp" data-wow-duration="1.8s">
					<div class="section-title-wrapper-index-02">
						<h2 class="section-title">你肯定会喜欢</h2>
					</div>
					<div class="blog-list-slider-wrapper blog-slider-inst">
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/11.jpg" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a th:href="@{/goods(getGoodsName=1670642457382,shopId=23)}">了解更多</a>
                                    </span>
								<h4 class="title"><a th:href="@{/goods(getGoodsName=1670642457382,shopId=23)}">Lotso就是大受欢迎的反派“草莓熊”</a></h4>
								<p class="info">虽然lotso他在电影里是反派角色，但正是因为被主人抛弃缺乏关爱，它才会成为过街老鼠，它想要回到主人的身边，想尽各种办法终于回到了黛西的身边，却发现一切都跟自己想的不一样了。
									草莓熊是一只粉红色的泰迪熊，胡迪、巴斯光年喜欢叫它“大熊”，因为全身散发香甜的草莓味，所以又叫做“草莓熊”，然而看起来憨厚的草莓熊没有想到却是最大的反派角色。</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/33.jpg" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a th:href="@{/goods(getGoodsName=1670397683439,shopId=23)}">了解更多</a>
                                    </span>
								<h4 class="title"><a th:href="@{/goods(getGoodsName=1670397683439,shopId=23)}">皮卡丘是一只电气鼠，它全身的皮毛都是黄色的，背上有两条褐色的条纹，
									尾巴是像锯齿状的闪电，与身体相接的部分也有一片褐色的皮毛。</a></h4>
								<p class="info">换装皮卡丘和普通的雌性皮卡丘的外表大体类似，只是在尾巴末端有着黑色的心型图案。
									换装皮卡丘可以通过在宝可梦华丽现场大赛的更衣室中换装变成
									五种不同的形态，对应了华丽大赛的五种项目，不同形态仅是服装不同，皮卡丘本身不会改变</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/77.png" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a th:href="@{/goods(getGoodsName=1669877453748,shopId=23)}">了解更多</a>
                                    </span>
								<h4 class="title"><a th:href="@{/goods(getGoodsName=1669877453748,shopId=23)}">泰迪即泰迪熊，是用于儿童玩耍的填充玩具熊。</a></h4>
								<p class="info">O其实早在泰迪熊出现之前，毛绒玩具熊就已经存在了。虽然，还没有直接的证据可以证明玩具熊最早的发明始末和来源，不过，早在十九世纪末，
									就已经有玩具熊的踪迹出现。1880年，柏林当地最受欢迎的玩具就是一只站在四轮上的木制熊（on all fours是一种可以拉着四处走的玩具车），同一时期，
									在莫斯科当地的酒吧，也流行一种由自动发条制造的饮酒熊（Drinking Bear，上了发条的熊玩具，除了可以拿着酒瓶把酒倒在酒杯里喝掉外，
									还会抽烟和跳舞），这种会自动饮酒的玩具熊，在当时非常新奇和受欢迎。</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog post area end -->

<!-- recent post area start -->
<div class="recent-post-area-wrapper v-1 v-2 wow bounceInUp" data-wow-duration="1.9s">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title-wrapper-index-02">
					<h2 class="section-title">新品上架</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!--///////////////////////////////////////////////////////////////////////////////////-->
			<div class="col-lg-6" th:each="allGoods : ${goodsByRecommend}" >
				<div class="single-recent-post-wrap">
					<div class="img-box">
						<img th:src="${allGoods.getGoodsPhoto1()}" alt="image" style="height: 500px;width:500px;border-radius: 30px">
					</div>
					<div class="content">
						<form action="/goods" method="post">
							<input type="hidden" th:value="${allGoods.getGoodsName()}" id="getGoodsName" name="getGoodsName">
							<input type="hidden" th:value="${allGoods.getShopId()}" name="shopId">
                            <span class="catagory">
                                <input type="submit" class="bg-color-a" value="了解详情" style="border: 0px;color: white">
                            </span>
						</form>
						<h4 class="title" ><a href="#" th:text="${allGoods.getGoodsDescribe1()}">Cakes are healthy too, you just eat a small slice.</a></h4>
						<div class="post-meta">
							<div class="left-content">
								<ul class="list">
									<li class="list-item">
										<a href="#">
											<span class="text" th:text="${allGoods.getGoodsPrice()}">june 19, 2021</span>￥
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-wrapper">
					<a th:href="@{/getAllGoods?pageNum=1}" th:class="${active=='sp'?'btn-default transparent active':'btn-default transparent'}" class="btn-default transparent">learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best article area start -->
<div class="best-article-area-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title-wrapper-index-02">
					<h2 class="section-title">站内热销</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 wow slideInLeft" data-wow-duration="1.8s">
				<div class="single-best-article-wrap-big">
					<div class="img-box">
						<img src="/static/img/poluo.png" alt="image">
					</div>
					<div class="content">
						<div class="post-meta index-02">
							<div class="left-content">
								<ul class="list">
									<li class="list-item">
										<a href="#">
											<span class="text">了解更多</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<h4 class="title v-2">
							<a href="#">英雄联盟LOL魄罗漫游中国系列</a>
						</h4>
						<p class="info">魄罗，游戏《英雄联盟》中出现的虚拟生物，是栖息在嚎哭深渊的一种毛绒绒像小绵羊的生物，这个小家伙不会造成任何伤害，
							你可以在地图中央的草丛发现两只这样的小玩意。这个小家伙很害羞，如果你尝试靠近它的话它会很快逃跑，
							想不让它逃跑的话必须拥有“魄罗佳肴”，魄罗喜欢跟随任何一个持有“魄罗佳肴”的玩家。</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow slideInRight" data-wow-duration="1.8s">
				<div class="best-article-list-wrapper">
					<ul class="best-article-list">

						<li class="blog-list-item"th:each="goodsBySalesVolume : ${goodsBySalesVolume} ">
							<div class="img-box">
								<img th:src="${goodsBySalesVolume.getGoodsPhoto1()}" style="height: 150px;width: 150px;" alt="image">
							</div>
							<div class="content">
								<div class="content">
									<div class="post-meta index-02">
										<div class="left-content">
											<ul class="list">
												<li class="list-item">
													<a href="#">
														<span class="text"><a class="text" th:href="@{/goods(getGoodsName=${goodsBySalesVolume.getGoodsName},shopId=${goodsBySalesVolume.getShopId})}" >了解详情</a></span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<h4 class="title v-2">
										<a href="#" th:text="${goodsBySalesVolume.getGoodsDescribe1()}">Watch cooking change the cook, just as it transforms the
											food.</a>
									</h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best article area end -->

<!-- footer area start -->

<!-- footer area end -->

<!-- back to top area start -->
<div class="scroll-to-top">
	<i class="fas fa-angle-up"></i>
</div>
<!-- back to top area end -->



</body>

</html>