<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<title>首页</title>
</head>
<div th:insert="~{common/commonHead::#headerCommon}"></div>
<body>
<!--加载条-->
<div class="preloader-inner">
	<ul class="preloader-main">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div th:insert="~{common/commonHead::#navCommon(active='index')}"></div>
<!-- header area start -->
<div class="header-area-wrapper">
	<div class="header-area index-03">
		<div class="bg" style="background-image:url(/static/img/img.jpg)">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-10 col-xl-8 h-100">
						<div class="content">
							<span class="first-word space-style">juice</span>
							<h1 class="header-title">It is a long established fact that a reader
								will be distracted.</h1>
							<div class="btn-wrapper">
								<a href="#" class="btn-default v-3">了解更多</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header area end -->

<!-- highlight area start -->
<div class="highlight-area-wrapper wow slideInRight" data-wow-duration="1.8s">
	<div class="container custom-container-1800">
		<div class="row">
			<div class="col-lg-12">
				<div class="space-box"></div>
				<div class="highlight-area-inner" >
					<!--===================================-->
					<div class="single-highlight-item" th:each="goodsTypes,staut:${goodsTypes}">
						<div class="img-box">
							<img th:src="${goodsTypes.getTypePhoto()}" alt="image" style="height: 150px;width: 150px;">
						</div>
						<div class="content">
							<h6 class="title">
								<a th:href="@{/type(typeId=${goodsTypes.getTypeId()})}" th:text="${goodsTypes.getTypeName()}"></a>
							</h6>
							<span class="sub-title">12 Articles</span>
						</div>
					</div>
					<!--===================================================-->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- highlight area end -->

<!-- blog post area start -->
<div class="blog-list-area-wrapper index-02">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="single-blog-list-wrapper-index-02 wow bounceInUp" data-wow-duration="1.8s">
					<div class="section-title-wrapper-index-02">
						<h2 class="section-title">highlighted article</h2>
					</div>
					<div class="blog-list-slider-wrapper blog-slider-inst">
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/11.jpg" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a href="#">food</a>
                                    </span>
								<h4 class="title"><a href="#">I cook with wine sometimes I even add it to the
									food.</a></h4>
								<p class="info">One advanced diverted domestic repeated bringing you old. Possible
									procured her trifling laughter thoughts property she met way. Companions shy had
									solicitude favourable own. Which could saw guest man now heard but. Lasted my
									coming uneasy marked so should. Gravity letters it amongst herself dearest an
									windows by. Wooded ladies she basket season age her uneasy saw.</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
												<a href="#">
													<span class="text">june 19, 2021</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/77.png" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a href="#">food</a>
                                    </span>
								<h4 class="title"><a href="#">I cook with wine sometimes I even add it to the
									food.</a></h4>
								<p class="info">One advanced diverted domestic repeated bringing you old. Possible
									procured her trifling laughter thoughts property she met way. Companions shy had
									solicitude favourable own. Which could saw guest man now heard but. Lasted my
									coming uneasy marked so should. Gravity letters it amongst herself dearest an
									windows by. Wooded ladies she basket season age her uneasy saw.</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
												<a href="#">
													<span class="text">june 19, 2021</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="single-slider-item">
							<div class="img-box">
								<img src="/static/img/33.jpg" alt="image">
							</div>
							<div class="content">
                                    <span class="catagory">
                                        <a href="#">food</a>
                                    </span>
								<h4 class="title"><a href="#">I cook with wine sometimes I even add it to the
									food.</a></h4>
								<p class="info">One advanced diverted domestic repeated bringing you old. Possible
									procured her trifling laughter thoughts property she met way. Companions shy had
									solicitude favourable own. Which could saw guest man now heard but. Lasted my
									coming uneasy marked so should. Gravity letters it amongst herself dearest an
									windows by. Wooded ladies she basket season age her uneasy saw.</p>
								<div class="post-meta">
									<div class="left-content">
										<ul class="list">
											<li class="list-item">
												<a href="#">
													<span class="text">june 19, 2021</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog post area end -->

<!-- recent post area start -->
<div class="recent-post-area-wrapper v-1 v-2 wow bounceInUp" data-wow-duration="1.9s">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title-wrapper-index-02">
					<h2 class="section-title">新品上架</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!--///////////////////////////////////////////////////////////////////////////////////-->
			<div class="col-lg-6" th:each="allGoods : ${goodsByRecommend}" >
				<div class="single-recent-post-wrap">
					<div class="img-box">
						<img th:src="${allGoods.getGoodsPhoto1()}" alt="image" style="height: 371px;width: 540px;">
					</div>
					<div class="content">
						<form action="/goods" method="post">
							<input type="hidden" th:value="${allGoods.getGoodsName()}" id="getGoodsName" name="getGoodsName">
							<input type="hidden" th:value="${allGoods.getShopId()}" name="shopId">
                            <span class="catagory">
                                <input type="submit" class="bg-color-a" value="了解详情" style="border: 0px">
                            </span>
						</form>
						<h4 class="title" ><a href="#" th:text="${allGoods.getGoodsDescribe1()}">Cakes are healthy too, you just eat a small slice.</a></h4>
						<div class="post-meta">
							<div class="left-content">
								<ul class="list">
									<li class="list-item">
										<a href="#">
											<span class="text" th:text="${allGoods.getGoodsPrice()}">june 19, 2021</span>￥
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-wrapper">
					<a th:href="@{/getAllGoods?pageNum=1}" th:class="${active=='sp'?'btn-default transparent active':'btn-default transparent'}" class="btn-default transparent">learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best article area start -->
<div class="best-article-area-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title-wrapper-index-02">
					<h2 class="section-title">站内热销</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 wow slideInLeft" data-wow-duration="1.8s">
				<div class="single-best-article-wrap-big">
					<div class="img-box">
						<img src="/static/img/Image-big.jpg" alt="image">
					</div>
					<div class="content">
						<div class="post-meta index-02">
							<div class="left-content">
								<ul class="list">
									<li class="list-item">
										<a href="#">
											<span class="text">june 19, 2021</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<h4 class="title v-2">
							<a href="#">Watch cooking change the cook, just as it transforms the food.</a>
						</h4>
						<p class="info">One advanced diverted domestic repeated bringing you old. Possible procured
							her trifling laughter thoughts property she met way. Companions shy had solicitude
							favourable own. Which could saw guest man now heard but. Lasted my coming uneasy marked
							so should. Companions shy had solicitude
							favourable own. Which could saw guest man now heard but.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow slideInRight" data-wow-duration="1.8s">
				<div class="best-article-list-wrapper">
					<ul class="best-article-list">

						<li class="blog-list-item"th:each="goodsBySalesVolume : ${goodsBySalesVolume} ">
							<div class="img-box">
								<img th:src="${goodsBySalesVolume.getGoodsPhoto1()}" style="height: 150px;width: 150px;" alt="image">
							</div>
							<div class="content">
								<div class="content">
									<div class="post-meta index-02">
										<div class="left-content">
											<ul class="list">
												<li class="list-item">
													<a href="#">
														<span class="text"><a class="text" th:href="@{/goods(getGoodsName=${goodsBySalesVolume.getGoodsName},shopId=${goodsBySalesVolume.getShopId})}" >了解详情</a></span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<h4 class="title v-2">
										<a href="#" th:text="${goodsBySalesVolume.getGoodsDescribe1()}">Watch cooking change the cook, just as it transforms the
											food.</a>
									</h4>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best article area end -->

<!-- footer area start -->
<footer class="footer-area">
	<div class="footer-top">
		<div class="container custom-container-1515">
			<div class="row">
				<div class="col-md-12 col-lg-3">
					<div class="footer-widget">
						<div class="logo-wrapper">
							<a href="index.html" class="logo">
								<img src="static/picture/Logo-01.png" alt="logo">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6">
					<div class="footer-widget">
						<ul class="footer-item-list">
							<li class="list-item"><a href="#">Home</a></li>
							<li class="list-item"><a href="#">gallery</a></li>
							<li class="list-item"><a href="#">about</a></li>
							<li class="list-item"><a href="#">blog</a></li>
							<li class="list-item"><a href="#">contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-12 col-lg-3">
					<div class="footer-widget">
						<ul class="social-icon-list">
							<li class="list-item"><a href="#">
								<i class="fab fa-facebook-f icon"></i>
							</a></li>
							<li class="list-item"><a href="#">
								<i class="fab fa-twitter icon"></i>
							</a></li>
							<li class="list-item"><a href="#">
								<i class="fab fa-instagram icon"></i>
							</a></li>
							<li class="list-item"><a href="#">
								<i class="fab fa-google-plus-g icon"></i>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="copyright-area">
			<div class="container custom-container-1515">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-area-inner">
							<div class="left-content">
								<p class="copyright"></p>
							</div>
							<div class="right-content">
								<p class="copyright">Copyright &copy; 2021.Company name All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer area end -->

<!-- back to top area start -->
<div class="scroll-to-top">
	<i class="fas fa-angle-up"></i>
</div>
<!-- back to top area end -->



</body>

</html>